/app/keystore/*.keystore
/app/release/
app/production
app/development
/app/development/release/
*.iml
.gradle
/local.properties
/.idea/caches/build_file_checksums.ser
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
app/build
flexible-adapter/build
flexible-adapter-ui/build
.idea
/build
/captures
.externalNativeBuild
/app/keystore.properties
/app/production/production/
/app/development/debug/
/app/production/release/
/app/release/
